<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.diagnostics" type="System.Diagnostics.DiagnosticsConfigurationHandler"/>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
      
                       
            my-synchronized-dispatcher {
                type = SynchronizedDispatcher
                throughput = 100
            }
            
          akka {
            log-config-on-start = off
            stdout-loglevel = INFO
            loglevel = ERROR
            # this config section will be referenced as akka.actor         
            
            
            
             #=======================
             #Actor Section STARTS
             #=======================
              
            actor {
              provider = "Akka.Actor.LocalActorRefProvider"
              debug {
                  receive = on
                  autoreceive = on
                  lifecycle = on
                  event-stream = on
                  unhandled = on
              }             
              
              
              #=======================
              #DeplymentSection STARTS
              #=======================
              
              deployment {
              
                "/TaskDispatcher" {
                    dspatcher = my-synchronized-dispatcher
                }
                
                "/TaskDispatcher/TaskActor" {
                    router = round-robin-pool
                    nr-of-instances = 10
                }
                
                "/TaskDispatcher/TaskActor/*/TextActor" {
                    router = round-robin-pool
                    nr-of-instances = 5
                }
                
                "/TaskDispatcher/TaskActor/*/PdfActor" {
                    router = round-robin-pool
                    nr-of-instances = 5
                }
                
                "/TaskDispatcher/ProgressUpdaterActor" {
                    router = round-robin-pool
                    nr-of-instances = 3
                }
                
              }
              
              #====================
              #DeplymentSection END
              #====================              
            }
            
            #=======================
            #Actor Section Ends
            #=======================
         }
      ]]>
    </hocon>
  </akka>
  
  <system.diagnostics>
    <sources>
      <source name="Tesseract" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="console" />
          <!-- Uncomment to log to file
				<add name="file" />
				-->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />

      <!-- Uncomment to log to file
		<add name="file"
		   type="System.Diagnostics.TextWriterTraceListener"
		   initializeData="c:\log\tesseract.log" />
		-->
    </sharedListeners>
  </system.diagnostics>
</configuration>